@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

$color: (
  background: #FAFAFA,
  Gray1: #333,
  Gray2: #4F4F4F,
  Gray4:#BDBDBD,
  Orange: #F2994A,
);

$font: (
  primary: 'Playfair Display',
  secondary: 'Montserrat'
);

// media querys 970 max
$desktop: 870px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: map-get($color, background);
  height: 100%;
  width: 100%;
}

main {
  .container {
    width: calc(100% - 24px);
    margin: 0 auto;

    @include desktop {
      max-width: 970px;
    }
  }
}

.introduction {
  margin-top: 32px;

  @include desktop {
    margin-top: 52px;
  }

  h1 {
    font: {
      family: map-get($font, primary);
      weight: 700;
      size: 24px;
    }
    line-height: 32px;

    @include desktop {
      font-size: 48px;
      line-height: 64px;
    }
  }

  .description {
    margin-top: 12px;
    display: flex;
    max-width: 592px;

    span {
      margin-right: 12px;
    }

    p {
      font: {
        family: map-get($font, secondary);
        weight: 500;
        style: italic;
        size: 12px;
      }
      line-height: 15px;
      color: map-get($color, Gray2);
      
      @include desktop {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.banner {
  margin-top: 12px;
  
  @include desktop {
    margin-top: 43px;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }
}

.recipe {
  margin-top: 24px;

  @include desktop {
    margin-top: 48px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.recipe-informations {

  @include desktop {
    width: 216px;
    height: 367px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  


  .information {
    display: flex;
    align-items: center;
    height: 26px;
    font-family: map-get($font, secondary);


    svg {
      width: 14px;
      height: 14px;
      margin-right: 5.45px;

      @include desktop {
        width: 28px;
        height: 28px;
        margin-right: 14px;
      }
    }

    .information-content {
      strong {
        display: block;
        color: map-get($color, Gray4);
        font: {
          size: 8px;
          weight: 700;
        };
        line-height: 8px;
        text-transform: uppercase;

        @include desktop {
          font-size: 10px;
          line-height: 12px;
        }
      }

      small {
        font: {
          weight: 500;
          size: 10px;
        }
        line-height: 10px;
        color: map-get($color, Gray1);

        @include desktop {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .prep-informations {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @include desktop {
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 0;
    }
  }

  .yeld {
    .information-content {
      small {
        color: #F2994A;
      }
    }

    @include desktop {
      margin-top: 57px;
      max-height: 34px;
    }
  }
}

.content-main-recipe {
  @include desktop {
    max-width: 584px;
  }
}

.ingredients {
  margin-top: 30px;

  @include desktop {
    margin-top: 0px;
  }

  h2 {
    font: {
      family: map-get($font, primary);
      size: 18px;
      weight: 700;
    }
    line-height: 24px;
    color: map-get($color, Gray1);

    @include desktop {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .ingredients-content {
    margin-top: 13px;

    @include desktop {
      margin-top: 31px;
    }

    &:nth-child(3) {
      margin-top: 42px;
    }

    h3 {
      font: {
        family: map-get($font, primary);
        style: italic;
        size: 16px;
      }
      line-height: 21px;
      color: map-get($color, Gray1);

      @include desktop {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .ingredient-item {
      margin-top: 21px;

      @include desktop {
        margin-top: 28px;
      }

      label {
        margin-top: 3px;
        display: block;
        position: relative;
        padding-left: 29px;
        cursor: pointer;

        font: {
          family: map-get($font, secondary);
          size: 14px;
          weight: 500;
        }
        line-height: 17px;
        color: map-get($color, Gray1);

        @include desktop {
          font-size: 16px;
          line-height: 25px;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        input:checked ~ .check {
          background-color: #F2994A;
        }
        
        .check {
          position: absolute;
          left: 0;
          top: 0;
          width: 21px;
          height: 21px;
          border: 1px solid #828282;
          border-radius: 4px;

          &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 6px;
            width: 4px;
            height: 8px;
            border: solid map-get($color, background);
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
        
      }

      .sugestion {
        font-weight: 400;

        em {
          font-weight: 500;
        }
      }
    }
  }
}

.instructions {
  margin-top: 27px;

  h2 {
    font: {
      family: map-get($font, primary);
      weight: 700;
      size: 24px;
    }
    line-height: 32px;
    color: map-get($color, Gray1);
    margin-bottom: 28px;
  }

  .step {
    margin-top: 28px;
    position: relative;
    padding-left: 51px;


    .number {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      background-color: map-get($color, Orange);
      border-radius: 6px;

      p {
        font: {
          family: map-get($font, primary);
          weight: 700;
          size: 24px;
        }
        line-height: 32px;
        color: #fff;
        text-align: center;
      }
    }

    p {
      font: {
        family: map-get($font, secondary);
        weight: 400;
        size: 16px;
      }
      line-height: 20px;
    }
  }
}

.source {
  font: {
    family: map-get($font, secondary);
    style: italic;
    size: 12px;
  }
  line-height: 150%;
  color: map-get($color, Gray4);
  margin-top: 26px;

  @include desktop {
    font-size: 16px;
    margin-top: 57px;
  }
}

footer {
  margin-top: 130px;
  padding-bottom: 24px;
  text-align: center;

  p {
    font: {
      family: map-get($font, secondary);
      size: 14px;
      weight: 500;
    }
    line-height: 17px;
    color: #828282;

    a {
      font-weight: 700;
      color: #828282;
    }
  }

}
